@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .primary-btn {
    @apply bg-[hsl(210,40%,98%)] text-[hsl(222.2,47.4%,11.2%)];
  }

  .secondary-btn {
    @apply bg-[hsl(0,0%,0%)];
  }
}
